.card {
    background-color: #626262;
    border-radius: 0px;
    padding: 5px;
    cursor: pointer;
}
.btn-q {
    padding: 10px;
    font-weight: 500;
    border: 3px solid #626262;
    background-color: #626262;
    color: #fff;
}
.card:hover {
    background-color: #474747;

}

.btn-q:hover {
    background-color: #474747;
    border: 3px solid #fff;
}
.progress {
    background-color: #656565;
    border-radius: 0px;
     
    .bg-green {
    background: #00ff00;
    }
}
